<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>DLP Library</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/nprogress.css">
        <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link href='//fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="components/angular/angular.js"></script>
        <script src="js/nprogress.js"></script>
        <script src="js/main-angular.js"></script>
    </head>
    <body ng-app="app" ng-controller="StoryController">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div>
            <div class="row masthead">
                <h1>DLP Library Stories</h1>
                <div class="search">
                    <form id="search" autocomplete="off">
                        <input class="input-xxlarge" type="text" data-provide="typeahead" class="typeahead" placeholder="Search" ng-model="query.$" />
                        <input  name="tags" type="text" data-provide="typeahead" class="typeahead" placeholder="Tag(s)" ng-model="query.tags" />
                        <select data-ng-model="order_predicate" data-ng-init="order_predicate='-adjustedThreadRating'">
                            <option value="-adjustedThreadRating">Rating (Adjusted)</option>
                            <option value="-threadRating">Rating</option>
                            <option value="title">Title</option>
                            <option value="author">Author</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="row result">
                    <div class="loading-indicator" ng-hide="loaded">
                        <span class="icon-2x icon-spinner icon-spin"></span>
                        Loading...
                    </div>
                    <div ng-view></div>
                <hr>
                <footer>
                    <p>&copy; DLP 2013 - Library Frontend 2.0.0-alpha</p>
                </footer>
            </div>
        </div> <!-- /container -->
        <script id="search.html" type="text/ng-template">
            <span ng-show="error">
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> Server returned error {{error}}
                </div>
            </span>
            <div class="pagination-right">
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    Previous
                </button>
                {{currentPage*pageSize+1}} to {{pageElementTop()}} of {{stories.length}}
                <button ng-disabled="currentPage >= stories.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                    Next
                </button>
            </div>
            <article ng-repeat="story in stories | filter:query | orderBy:order_predicate | startFrom:currentPage*pageSize | limitTo:pageSize" ng-show="loaded" data-story-id="{{story.threadId}}">
                <div class="row">
                    <div class="span12 border-bottom2">
                        <a class="story-item-title" href="https://forums.darklordpotter.net/showthread.php?threadid={{story.threadId}}">
                            <h3 class="story-title" title="{{story.threadId}}">
                                {{story.title}} by {{story.author}}
                            </h3>
                        </a>
                        <p>
                            <i>{{story.summary}}</i>
                        </p>
                        <p>
                            <ul class="nav-list">
                                <li ng-repeat="url in story.url"><a class="" href="{{url.url}}">{{url.url}}</a></li>
                            </ul>
                        </p>
                        <span class="badge badge-inverse icon-star muted"> {{story.threadRating | number:2}}</span>
                        <span class="badge badge-info" data-ng-show="story.rating && story.rating != 'UNKNOWN'">{{story.rating | ratingTitle}}</span>
                        <span ng-repeat="tag in story.tags" class="label story-tag" data-tag-name="{{tag}}" ng-class="specialTag(tag)" ng-click="setSearchTag(tag)">{{tag}}</span>
                    </div>
                </div>
            </article>
            <div class="pagination-right">
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    Previous
                </button>
                {{currentPage*pageSize+1}} to {{pageElementTop()}} of {{stories.length}}
                <button ng-disabled="currentPage >= stories.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                    Next
                </button>
            </div>
        </script>
        <script id="tags.html" type="text/ng-template">
            <h2>Top 20 Tags</h2>
            <span ng-show="error" ng-cloak>
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> Server returned error {{error}}
                </div>
            </span>
            <div ng-repeat="tag in tags | limitTo: 20" ng-show="loaded">
                {{tag.tag}} -- {{tag.count}}
            </div>
        </script>
        <script id="about.html" type="text/ng-template">
            Reimagining the DLP library
        </script>


        <script>
            var _gaq=[['_setAccount','UA-442860-5'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
